<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Information for <wo:str value="$application.name" /></title>
	</head>
	<body>
	<style type="text/css">


	</style>
	
	<h2>Database connections</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>EOModel</th>
			<th>Bundle</th>
			<th>Plugin</th>
			<th>User</th>
			<th>JDBC URL</th>
			<th>Entities</th>
		</tr>
		<webobject name="EOMODEL_REPETITION">
			<tr>
				<td><webobject name="NAME_STRING" /></td>
				<td><webobject name="BUNDLE_NAME_STRING" /></td>
				<td><webobject name="CONN_DICT_STRING" /></td>
				<td><webobject name="PLUGIN_STRING" /></td>
				<td><webobject name="ENTITY_LIST_LINK"><webobject name="ENTITY_REPTITION"><webobject name="ENTITY_NAME_STRING" /><br /></webobject>&nbsp;</webobject></td>
				<td><webobject name="CONN_DICT_USERNAME_STRING" /></td>
			</tr>
	</webobject>
	</table>
	
	<h2>Properties</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		<webobject name="PROPERTY_REPETITION">
		<tr>
			<td><webobject name="PROPERTY_NAME_STRING" /></td>
			<td><webobject name="PROPERTY_VALUE_STRING" /></td>
		</tr>
		</webobject>
	</table>
	
	<h2>Classpath</h2>
	<webobject name="CLASSPATH_STRING" />
	
	<h2>Processes running on server</h2>
	<pre>
		<webobject name="PS_STRING" />
	</pre>
	</body>
</html>