<webobject name="UPDATE_CONTAINER">
	<webobject name = "IS_DICTIONARY">	
		<table cellspacing = "0" cellpadding = "0">
			<tr>
				<td align = "RIGHT">
					<b><webobject name = "String1" />:</b>
				</td>
				<td>
					<webobject name="PopUpButton1" />
					<webobject name="TextField1" />
				</td>
				<td><webobject name="SubmitButton3" /></td>
			</tr>
			<webobject name="Repetition1">
	      <tr>
	        <td align = "RIGHT"><webobject name = "String4" />:</td>
	        <td><webobject name = "SWDictionaryEditor21" /></td>
	        <td><webobject name = "SubmitButton1" /></td>
	      </tr>
	    </webobject>
	  </table>
	</webobject>
	<webobject name="IS_ARRAY"><webobject name="ARRAY_EDITOR" /></webobject>
	<webobject name="IS_STRING"><webobject name="STRING_EDITOR" /></webobject>
</webobject>